html {
  background: #e3242b;
}

#quote-box {
  padding: 1% 2% 4%;
  background: white;
  max-width: 30em;
  margin: 10% auto;
}

#text {
  color: #e3242b;
  font-size: 30px;
  text-align: center;
}

#author {
  color: #e3242b;
  font-size: 18px;
  text-align: right;
}